.body{
    display: flex;
    flex-direction: column; 
}

.Form{
    flex-wrap: wrap;
    background-color: rgb(212, 64, 64);
    width: 60%;
    height: 70vh;
    color: #ffffff;
    margin:10vh auto;
    margin-top:20vh;
    padding: 10px;
}
.formset{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

 #comment {
   padding: 20px;
   margin-top: 20px;
   
}
input, textarea {
    flex-basis: 80%; 
    padding: 10px;
    border: none;
    margin: 2px; 
    border-radius: 5px; 
    font-size: 1em; 
}
input:focus, textarea:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
}
label {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    flex-basis: 30%; 
}

.submit{
    font-size:0.8em ;
    display: flex;
    height: 40px;
    margin:40px auto;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color:rgb(216, 23, 23); ;
}
.submit:hover{
    background-color: rgb(161, 54, 54); 
    color: rgb(153, 113, 38);
    transition-duration: 0.5s;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2px;
    font-size: 0.8em;
    margin: auto;
}
.personaldetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 80px;
    margin: auto;
    gap: 5px;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: xx-large;
}
@media (max-width: 1024px) {
   .Form{
        width: 95%;
        margin:10vh auto;
        margin-top:20vh ;
        height: 65vh;
    }
    .formset{
        height: 50px;
    }
    
     #comment {
       padding:5px;
     
       
    }
    input, textarea {
        flex-basis: 80%; 
        padding: 10px;
        font-size: 0.8em;
    }
    label {
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        font-size: 1.2em;
        font-weight: bold;
        flex-basis: 40%; 
    }
    
 .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-size: 0.8em;
 }  
 .personaldetails{
    width: 100%;
    padding: 20px;
    margin: auto;
    gap: 5px;
} 
}